[Unit]
Description="Intentd - a deamon for intents"
Requires=mosquitto.service
After=mosquitto.service

[Service]
User=intentd
Group=intentd
DynamicUser=true
LogsDirectory=intentd
StateDirectory=intentd

WorkingDirectory=/usr/bin/intentd
ExecStart=/usr/bin/intentd/intentd.py

[Install]
WantedBy=multi-user.target
